@model Survey

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form asp-action="Submission" asp-controller="Home" method="post">
            <div class="survey_box">
                <div class="row">
                    <span asp-validation-for="Name"></span>
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name">
                </div>
                <div class="row">
                    <span asp-validation-for="Location"></span>
                    <label asp-for="Location"></label>
                    <select class="form-control" asp-for="Location">
                        <option value="San Jose">San Jose</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Los Angeles">Los Angeles</option>
                        <option value="Dallas">Dallas</option>
                        <option value="Arlington">Arlington</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Tulsa">Tulsa</option>
                        <option value="Oakland">Oakland</option>
                        <option value="Boise">Boise</option>
                        <option value="Idaho">Idaho</option>
                    </select>
                </div>
                <div class="row">
                    <span asp-validation-for="Language"></span>
                    <label asp-for="Language"></label>
                    <select class="form-control" asp-for="Language">
                        <option value=".NET/C#">.NET/C#</option>
                        <option value="Ruby on Rails">Ruby on Rails</option>
                        <option value="Python">Python</option>
                        <option value="MEAN">MEAN</option>
                        <option value="Java">Java</option>
                    </select>
                </div>
                <div class="row">
                    <span asp-validation-for="Comment"></span>
                    <label asp-for="Comment"></label>
                    <textarea class="form-control" asp-for="Comment" cols="30" rows="5"></textarea>
                </div>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>